body {
	background-color: #fff;
	overflow-x: hidden;
	height: auto;
}

body.noscroll{
    overflow: hidden;
}

.row{
	@include breakpoint(xlarge) {
		max-width: 1100px;
	}
	@include breakpoint(1440px) {
		max-width: 1170px;
	}
	@include breakpoint(1441px) {
		max-width: 1400px;
	}
	margin: 0 auto;
}

.yellowtext{
	color: #e9bb05;
}

p {
	font-size: 1.125rem;
}

svg {
	max-width: 100%;
	height: auto;
}

section, footer {
	position: relative;
	display: block;
	padding: 6rem 0;
	overflow: hidden;
	z-index: 0;

	&.full_height{
		height: 100vh;
	}
	
	@include breakpoint(small only) {
		padding: 3rem 1rem;
		height: auto!important;
		min-height: 100vh;
	}

	&.std_section{
		padding: 70px 0;
		display: block;
		height: auto;
		@include breakpoint(small down){
			padding: 35px 0;
			&.portfolio_section{
				padding: 35px 0!important;
			}
		}

		&.bringtop{
			margin-top: -70px;
			padding: 0;
		}

		h1:not(.project-title, .project-subtitle){
			font-size: 60px;
			position: relative;
			border-bottom: 1px solid rgba(255,255,255,1);
			margin: 20px 0;
			padding-bottom: 10px;
			color: #fff;
			@include breakpoint(small only){
				font-size: 30px;
			}
			&:before{
				content:"";
				width: 100px;
				height: 3px;
				background: #fff;
				position: absolute;
				left: 0;
				bottom: -1px;
			}
		}
	}

	&.small_section{
		padding: 50px 0;
	}
}

.intro{
	bottom: 70px;
	right: 0;
	left: 0;
	margin: 0 auto;
	max-width: 1200px;
	text-align: center;

	@include breakpoint(900px down){
		max-width: 700px;

		@include breakpoint(small down){
			top: 50%;
			bottom: inherit;
		}
	}

	h1{
		line-height: 1;
	}
	.slab{
		line-height: 0.85!important;
		font-size: 140px;
		margin-bottom: 50px;
		-webkit-touch-callout: none; /* iOS Safari */
		   -webkit-user-select: none; /* Chrome/Safari/Opera */
		    -khtml-user-select: none; /* Konqueror */
		      -moz-user-select: none; /* Firefox */
		       -ms-user-select: none; /* Internet Explorer/Edge */
		           user-select: none;
	}
}

.half_height{
	height: auto;
	padding: 20vh 0 5vh;
	z-index: 1;

	@include breakpoint(1440px down){
		padding: 15vh 0 5vh;
		@include breakpoint(small down){
			padding: 15vh 0 3vh;
			min-height: inherit;
		}
	}
	
	&:after{
		content:"";
		position: absolute;
		bottom:0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		background: -moz-linear-gradient(top, rgba(233, 187, 5, .5) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(233, 187, 5, .5) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(233, 187, 5, .5) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		z-index: -1;
	}
}

.hero_intro{
	color: #000;
	margin: 40px auto 40px;
	overflow: hidden;
	font-size: 20px;
	position: relative;
	z-index: 2;
	line-height: 1.2;

	@include breakpoint(1440px down){
		font-size: 18px;
		margin-bottom: 50px;

		@include breakpoint(small down){
			max-width: 300px;
			margin-bottom: 50px;
		}
	}

	p:first-child{
		font-size: 22px;
		font-weight: 900;
		@include breakpoint(small down){
			font-size: 16px;
			margin-bottom: 50px;
		}
	}
}

section.hero{
	z-index: 0;
	position: relative;
	&:before{
		content:"";
		display: block;
		background: #e9bb05;
		background-size: 100%!important;
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity:1;
	}
}

footer.small_section{
	padding: 0;
	height: 155px;
	line-height: 155px!important;
	@include breakpoint(small only) {
		padding: 1rem 1rem;
		height: auto!important;
		min-height: initial;
	}
}

.clearfix, .clear {
    zoom: 1;

    &:before,
	&:after {
	    content: "";
	    display: table;
	}

	&:after {
	    clear: both;
	}
}

.uppercase {
	text-transform: uppercase;
}

.v-align{
	position: absolute;
	max-width: 100%;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: translateY(-50%);
	color: #fff;
	font-size: 22px;
	@include breakpoint(small only){
		position: relative;
		top: 0;
		transform: translateY(0);
		padding: 30px 15px;
	}

	img{
		@include breakpoint(medium down){
			max-height: 300px;
			width: auto!important;
			display: block;
			margin: 10px auto;
		}
	}
	h1{
		font-size: 60px;
		position: relative;
		border-bottom: 1px solid rgba(255,255,255,1);
		margin: 20px 0;
		padding-bottom: 10px;
		@include breakpoint(small only){
			font-size: 30px;
		}
		&:before{
			content:"";
			width: 100px;
			height: 3px;
			background: #fff;
			position: absolute;
			left: 0;
			bottom: -1px;
		}
	}

	ul{
		margin: 20px 0;
		list-style: none;
		li{
			margin: 5px 0;
			position: relative;
			padding-left: 40px;
			&:before{
				content:"";
				display: inline-block;
				position: absolute;
				left: 0;
				top: 10px;
				width: 20px;
				height: 20px;
				border-radius: 20px;
				border: 2px solid #fff;
			}
			&:after{
				content:"";
				display: inline-block;
				position: absolute;
				left: 0;
				top: 15px;
				left: 5px;
				width: 10px;
				height: 10px;
				border-radius: 20px;
				background: #fff;
			}
		}
	}

	ul, li, p{
		font-size: 22px;
		@include breakpoint(small only){
			font-size: 16px;
		}
	}

	.text-black{
		color: #000;
		h1{
			border-bottom: 1px solid rgba(0,0,0,1);
			&:before{
				background: #000;
			}
		}
		
	}

	a{
		color: #fff;
	}
}

.v-align-2{
	position: relative;
	width: 100%;
	height: 100%;
	.v-align-2-inner{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		@include breakpoint(medium down){
			position: relative;
			top: 0;
			transform: translateY(0);
		}
		@include breakpoint(small only){
			top: 0;
			transform: translateY(0);
		}
	}
}

.fancy-list{
	margin: 0;
	padding: 0;
	display: block;
	list-style-type: none;
	text-align: right;
	li{
		border-radius: 3px;
		line-height: normal;
		color: #000;
		display: block;
		clear: both;
		margin: 0 0 70px!important;
		padding: 0!important;

		&:before, &:after{
			content:inherit!important;
			display: none!important;
		}

		.inner{
			display: inline-block;
			padding: 180px 40px 100px!important;
			width: 350px;
			text-align: center;
			font-size: 27px;
			color: #000;
			color: rgba(0,0,0,.5);
			font-weight: bold;
			text-transform: uppercase;
			position: relative;
			z-index: 0;
			font-family: "cronos-pro-display",sans-serif;
			font-weight: bold;
			background-size: 100% 100%;
			overflow: hidden;

			@include breakpoint(small down){
				width: 100%;
			}

			&:before{
				content:"";
				display: block;
				width: 50px;
				height: 50px;
				position: absolute;
				top: -10px;
				left: 0;
				right: 0;
				margin: 0 auto;
				background: url(../img/pin.png) no-repeat;
				background-size: 100% auto;
			}

			&:after{
				top: 60px;
				right: 0;
				left: 0;
				margin: 0 auto;
				width: 100px;
				height: 100px;
				padding: 20px;
				z-index: -1;
				opacity: .6;
				background-size: 70%;
				border-radius: 100%;
				background-position: center center;
				border: 5px solid rgba(0,0,0,1)
			}
		}

		&:nth-child(odd){
			.inner{
				transform: rotate(2.5deg);
			}
		}

		&:nth-child(even){
			.inner{
				transform: rotate(-2.5deg);
			}
		}

		&:nth-child(1){
			.inner{
				background-image: url(../img/notes/post-yellow-min.png)
			}
			.inner:after{
				content:"";
				background-image: url(../img/strategy.png);
				background-repeat: no-repeat;
				position: absolute;
				background-size: 60% 60%;
			}
		}

		&:nth-child(2){
			.inner{
				background-image: url(../img/notes/post-orange-min.png)
			}
			.inner:after{
				content:"";
				background-image: url(../img/information.png);
				background-repeat: no-repeat;
				position: absolute;
			}
		}

		&:nth-child(3){
			.inner{
				background-image: url(../img/notes/post-green-min.png)
			}
			.inner:after{
				content:"";
				background-image: url(../img/webdesign.png);
				background-repeat: no-repeat;
				position: absolute;
				filter: grayscale(1)
			}
		}

		&:nth-child(4){
			.inner{
				background-image: url(../img/notes/post-yellow-min.png)
			}
			.inner:after{
				content:"";
				background-image: url(../img/responsive.png);
				background-repeat: no-repeat;
				position: absolute;
				opacity: 1;
				border-color: rgba(0,0,0,.7);
				filter: grayscale(1);
			}
		}

		&:nth-child(5){
			.inner{
				background-image: url(../img/notes/post-blue-min.png);
				color: #fff;
			}
			.inner:after{
				content:"";
				background-image: url(../img/frontend.png);
				background-repeat: no-repeat;
				position: absolute;
				filter: grayscale(1);
			}
		}

		&:nth-child(6){
			.inner{
				background-image: url(../img/notes/post-yellow-min.png)
			}
			.inner:after{
				content:"";
				background-image: url(../img/programming.png);
				background-repeat: no-repeat;
				position: absolute;
				filter: grayscale(1);
			}
		}

		&:nth-child(7){
			.inner{
				background-image: url(../img/notes/post-orange-min.png)
			}
			.inner:after{
				content:"";
				background-image: url(../img/banner.png);
				background-repeat: no-repeat;
				position: absolute;
				filter: grayscale(1);
			}
		}
	}
}

.scroll_div{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100vh;
	padding: 60px;
	right: -17px;
	width: auto;
	display: block;

	@include breakpoint(small down){
		padding: 15px;
	}

	h1{
		font-size: 60px;
		position: relative;
		border-bottom: 1px solid rgba(255,255,255,1);
		margin: 20px 0;
		padding-bottom: 10px;
		color: #fff;
		@include breakpoint(small only){
			font-size: 30px;
		}
		&:before{
			content:"";
			width: 100px;
			height: 3px;
			background: #fff;
			position: absolute;
			left: 0;
			bottom: -1px;
		}
	}
}

.scroll_div::-webkit-scroll-bar{
	display: none!important;
}

.absolutecolumn{
	position: absolute!important;
	top: 10vh;
	width: 45%;
	@include breakpoint(1440px down){
		width: 45%;
	}
	@include breakpoint(small down){
		position: relative!important;
		width: 100%!important;
		top: 0;
	}
}

.features{
	padding-top:10vh;
}

.superbutton{
	display: inline-block;
	line-height: 1;
	padding: 20px 30px;
	background: #ff9352;
	color: #fff!important;
	border-radius: 90px;
	transition: all .2s;
	margin: 20px 0;
	letter-spacing: 2px;

	@include breakpoint(small down){
		font-size: 16px;
	}

	&:hover{
		background: #fff;
		color: #696969!important;
	}
}

#whatwedo.slimScrollDiv{
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: all .5s;

	&.appear{
		transition: all .5s;
		opacity: 1;
		visibility: visible;
	}

	& > .row{
		position: relative;
	}
}

.relative{
	position: relative;
}

.absolute{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.btn {
    border: none;
    font-family: inherit;
    font-size: 18px;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 15px 30px;
    display: inline-block;
    margin: 15px 0;
    text-transform: uppercase;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button 4 */
.btn-4 {
	border-radius: 50px;
	border: 3px solid #fff;
	color: #fff;
	overflow: hidden;

	&.darkbtn{
		border-color: #000;
		color: #000;

		&:hover{
			color: #000;
		}

		&:before{
			color: #000;
		}
	}

	span{
		display: block;
	}
}

.su_text .btn-4{
	font-size: 16px;
}

.btn-4:active {
	border-color: #17954c;
	color: #17954c;
}

.btn-4:hover {
	background: rgba(255,255,255,.1);
	padding-right: 50px;
	color: #fff;
}

.btn-4:before {
	position: absolute;
	font-size: 125%;
	height: 16px;
	line-height: 16px;
	bottom: 0;
	top: 0;
	margin: auto 0;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	font-family: fontAwesome;
	content:"\f178";
	right: 15px;
	transform: translateX(300%);
}

.btn-4:active:before {
	color: #17954c;
}

/* Button 4a */
.btn-4a:before {
	top: 0;
}

.btn-4a:hover:before {
	transform: translateX(0);
}

/* Button 4b */
.btn-4b:before {
	left: -50%;
	top: 0;
}

.btn-4b:hover:before {
	left: 10%;
}

/* Button 4c */
.btn-4c:before {
	left: 70%;
	opacity: 0;
	top: 0;
}

.btn-4c:hover:before {
	left: 80%;
	opacity: 1;
}

/* Button 4d */
.btn-4d:before {
	left: 30%;
	opacity: 0;
	top: 0;
}

.btn-4d:hover:before {
	left: 10%;
	opacity: 1;
}

.icon-arrow-right:before {
    content: "\f178";
    font-family: fontAwesome;
    speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 50%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
  transition: all .2s;

  &.darkmode{
  	box-shadow: inset 0 0 0 1px #000;
  	&:before{
		background: #000;
  	}
  }
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}
.scroll_animation{
	position: fixed;
	bottom: 50px;
	text-align: center;
	z-index: 50;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: auto;
	transform: scale(.7);
	@include breakpoint(500px down){
		display: none;
	}
}