.slabtexted .slabtext
    {
    display: -moz-inline-box;
    display: inline-block;
    white-space: nowrap;
    line-height: .75;
    }
.slabtextinactive .slabtext
    {
    display: inline;
    white-space: normal;
    font-size: 1em !important;
    letter-spacing: inherit !important;
    word-spacing: inherit !important;
    *letter-spacing: normal !important;
    *word-spacing: normal !important;
    }
.slabtextdone .slabtext
    {
    display: block;
    }

.medium-p{
	font-size: 22px;
	line-height: 32px;
	word-spacing: 2px;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
}

.clients h1,
.clients h4,
.clients p{
	margin-bottom: 30px;
}

.text-dark, .v-align.text-dark{
	color: #000
}

ul.fancy-list, .v-align ul.fancy-list {
	list-style: none;
	display: block;
	margin: 0;

	li{
		margin-bottom: 20px;
		position: relative;
		padding-left: 40px;
		&:first-of-type{
			padding-left: 0;
		}
		&:not(:first-of-type):before{
			content:"";
			position: absolute;
			left: 0;
			top: 12px;
			width: 15px;
			height: 15px;
			background: #000;
			display: inline-block;
			margin-right: 10px;
		}
		&:last-of-type{
			margin-bottom: 0;
		}
	}
}

.intro{
	h1{
		color: #e9bb05;
		font-size: 170px;
		text-transform: uppercase;
		font-style: italic;
		text-shadow: -1px -1px 0 #3e2e6a, 1px -1px 0 #3e2e6a, -1px 1px 0 #3e2e6a, 1px 1px 0 #3e2e6a;
		transform: translate(0);
		padding: 0 20px;
		overflow: visible;
		line-height: 1;
		letter-spacing: 10px;
		white-space: nowrap;

		@include breakpoint(1440px down){
			font-size: 100px;
			@include breakpoint(320px down){
				&.slab{
					font-size: 50px!important;
					line-height: 1.2!important;
					overflow: visible!important;
				}
			}
		}

		&:after {
			content: attr(data-heading);
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
			overflow: hidden;
			color: red;
			transform: translate(0.4vw, 0.3vh);
			mix-blend-mode: darken;
			text-align: center;
			width: 100%;
			text-shadow: 1px 0px 0px #3e2e6a, 0px 1px 0px #130b52, 2px 1px 0px #3e2e6a, 1px 2px 0px #130b52, 3px 2px 0px #3e2e6a, 2px 3px 0px #130b52, 4px 3px 0px #3e2e6a, 3px 4px 0px #130b52, 5px 4px 0px #3e2e6a, 4px 5px 0px #130b52, 6px 5px 0px #3e2e6a, 5px 6px 0px #130b52, 7px 6px 0px #3e2e6a;
		}
	}
}