// =============================================================================
// Font Family
// =============================================================================

$font-thin:					'Avenir-Thin', sans-serif;

// =============================================================================
// Colors
// =============================================================================

$base-color:				#222222;
$white:						#ffffff;
$red:						#F3144C;
$orange:					#ffab24;
$toska:						#1fbab3;
$blue:						#3f62fe;
$jdicolor:					rgb(37, 154, 255);

// =============================================================================
// Elements
// =============================================================================

