.member-grid .member-grid-inner{
	margin-left: -40px;
	margin-right: -40px;
	display: block;
	width: auto;

	.column{
		float: left;
	}

	@include breakpoint(large down) {
		margin-left: 0;
		margin-right: 0;
	}
}

.member-wrapper{
	position: relative;
	margin: 30px 0;
	padding: 0 40px;

	@include breakpoint(large down) {
		padding: 0;
	}

	.member-photo{
		position: relative;
		overflow: hidden;
		height: auto;

		.cover{
			position: relative;
			filter: grayscale(1);
			opacity:.8
		}

		.revealer{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			opacity: 0;
		}
	}

	&:hover .revealer{
		opacity: 1;
	}

	.member-info{
		position: relative;
		background: #fff;
		padding: 30px 0 0;
		color: #000;

		.member-name{
			font-size: 30px;
			text-transform: uppercase;
			margin:  0 0 10px 0;
			@include breakpoint(large) {
				font-size: 23px
			}
			@include breakpoint(small down) {
				font-size: 20px
			}
			@include breakpoint(xxlarge) {
				font-size: 30px
			}
		}

		.member-position{
			font-style: italic;
			opacity: .7;
			margin: 10px 0;
			font-size: 24px;
			@include breakpoint(small down) {
				font-size: 16px
			}
		}

		.member-social{
			display: block;
			margin: 20px 0;

			li{
				display: inline-block;
				width: 40px;
				height: 40px;
				line-height: 40px;
				margin: 0 5px 0 0;
				text-align: center;

				&:only-child{
					margin: 0;
				}

				a{
					display: block;
					width: 40px;
					height: 40px;
					line-height: 40px;
					color: #fff;
					border-radius: 40px;
					transition: all .2s;
					
					&:hover{
						opacity: .5;
					}
				}

				&.twitter a{
					background: #73c2d5;
				}

				&.linkedin a{
					background: #1a8bc0;
				}
			}
		}
	}
}