.client-thumb{
	display: inline-block;
	width: 87px;
	margin-right: 70px;
	vertical-align: middle;
	margin-bottom: 30px;
	@include breakpoint(small only){
		width: 40%;
		margin-right: 0;
		text-align: center;
		padding: 0 10px;
	}
}

.flickity-slider {
	margin-bottom: 50px;
	.client-thumb{
		height: 100px;
		position: relative;
		background: rgba(255,255,255,.1);
		margin: 0 10px;
		border-radius: 3px;
		padding: 20px;

		@include breakpoint(medium){
			background:transparent;
		}

		img{
			position: absolute;
			top: 50%;
			left: 10px;
			right: 10px;
			margin: 0 auto;
			transform: translateY(-50%);
			max-height: 100%;
			width: auto;
			max-width: 85%;
			display: block;
		}
	}
}

.TickerNews {
  width: 100%;
  height: 120px;
  line-height: 120px;
}

.ti_wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 120px;
}

.ti_slide {
  width: 30000px;
  position: relative;
  left: 0;
  top: 0;
}

.ti_content {
  width: 5292px!important;
  position: relative;
  float: left;
}

.ti_news { 
	float: left;
	width: 97px;
	height: 120px;
	line-height: 150px;
	margin: 0 25px;
	vertical-align: middle;
	position: relative;
	text-align: center;

	img{
		width: auto!important;
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		max-height: 80%;
	}
}

.relative_2{
	position: relative;
	top: auto;
	overflow: hidden;
}

/* CLIENT BARU */
section#clients{
	background: #fff url(../img/client-section.jpg) no-repeat bottom center;
	background-size: 100% auto!important;
	color:#101010;
	padding: 50px 0;
	border-bottom: 1px solid #efefef;

	@include breakpoint(1440px down){
		background-size: 120% auto!important;

		@include breakpoint(900px down){
			background-size: cover!important;

			@include breakpoint(500px down){
				background-image: none;
				background-color: #f5f5f5;
			}
		}
	}
}

.clientList{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 0;

	li{
		transition: transform .4s,opacity .6s,visibility .6s;
		width: 25%;
		position: relative;
		display: inline-block;
		height: 200px;
		float: left;
		margin: 0;
		text-align: center;
		transform: scale(0);
		padding-left: 0!important;

		@include breakpoint(500px down){
			height: 100px;
			width: 50%;
		}

		&:before, &:after{
			content:none!important;
		}

		&:nth-child(2){
			transition-delay: 30ms;
		}

		&:nth-child(3){
			transition-delay: 60ms;
		}

		&:nth-child(4){
			transition-delay: 90ms;
		}

		&:nth-child(5){
			transition-delay: 40ms;
		}

		&:nth-child(6){
			transition-delay: 70ms;
		}

		&:nth-child(7){
			transition-delay: 100ms;
		}

		&:nth-child(8){
			transition-delay: 130ms;
		}

		div {
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    display: table-cell;
		    vertical-align: middle;
		    height: 100%;
		    padding: 0;

		    img{
		    	position: absolute;
		    	top: 50%;
		    	transform: translateY(-50%);
		    	vertical-align: middle;
		    	max-width: 45%;
		    	left: 0;
		    	right: 0;
		    	margin: auto;
		    	filter: grayscale(1);
		    	opacity: .7;
		    	transition: all .2s;
		    }
		}

		&:hover div img{
			filter: grayscale(0);
			opacity: 1;
		}
	}

	&.active{
		position: relative;
		z-index: 1;

		li{
			transform: scale(1);
			opacity: 1;
			visibility: visible;
		}
	}
}

.clientPages{
	position: absolute;
	bottom: 100px;
	width: 100%;
	text-align: center;

	@include breakpoint(500px down){
		bottom: 30px;
	}

	& > div{
		text-indent: -9999px;
		width: 15px;
		height: 15px;
		background: rgba(0,0,0,.2);
		border-radius: 30px;
		margin: 0 10px;
		outline: none;
		display: inline-block;
		transition: all .3s;
		transform: scale(1);
		cursor: pointer;

		&:hover{
			background: rgba(0,0,0,.8);
		}
		&.active{
			background: rgba(0,0,0,.8);
			transform: scale(1.3);
		}
	}
}