.donut{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	width: 80vh;
	height: 80vh;
	z-index: -1;
	border-radius: 100%;
	border: 120px solid #00c4ff;
	mix-blend-mode: multiply
}

ul.office-detail{
	list-style-type: none;
	li{
		margin-bottom: 40px;
		display: block;
	}

	h4{
		letter-spacing: 2px;
		font-size: 20px;
		font-weight: lighter;
		line-height: 1;
		margin-bottom: 10px;
	}

	p{
		font-size: 18px;
		font-weight: normal;
	}
}

.rectangle{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto 0;
	width: 50%;
	height: 300px;
	z-index: -1;
	background: #00c4ff;
	mix-blend-mode: multiply
}

.message-box{
	background: #fff;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,.1);
	width: auto;
	position: relative;
	height: 100%;
	width: auto;
	margin-right: 200px;
	@include breakpoint(xlarge) {
		margin-right: 130px;
	}
	@include breakpoint(1440px) {
		margin-right: 130px;
	}
	@include breakpoint(1441px) {
		margin-right: 200px;
	}
	color: #000;

	h3{
		color: #649ed2;
	}

	form{
		input, textarea{
			border-radius: 5px;
			border: 1px solid #e5e5e5;
			box-shadow: 0 4px 15px rgba(0,0,0,.06);
			line-height: 1;
			padding: 10px;
			height: auto;
			display: block;

			&:focus{
				border-color: rgba(0,0,0,.5)
			}
		}

		button{
			border-radius: 90px;
			line-height: 1;
			padding: 20px 25px;
			text-align: center;
			width: 100%;
			display: block;
			background: #649ed2;
			color: #fff;

			&:hover{
				opacity: .7;
			}
		}
	}

	iframe{
		width: 60%;
		height: 80%;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto 0;
		border-radius: 10px;
		box-shadow: 0 20px 35px rgba(0,0,0,.1);
	}
}

/* Animation */
.donut,
.pagetitle,
ul.office-detail,
ul.office-detail li,
.rectangle,
.jdimap,
.message-box
{
	transition: all .7s cubic-bezier(.04,.73,.23,1);
}

/* before animate */
.donut{
	transform: scale(1.5) translateX(-50%);
	opacity: 0;
}

.pagetitle{
	transform: translateY(100px);
	transition-delay: 0.1s;
	opacity: 0;
}

ul.office-detail{
	display: block;
	transform: translateY(100px);
	transition-delay: 0.15s;
	opacity: 0;
}

#contactpage.animateplease .donut{
	transform: scale(1) translateX(-50%);
	opacity: 1;
}

#contactpage.animateplease .pagetitle,
#contactpage.animateplease ul.office-detail{
	transform: translateY(0);
	opacity: 1;
}

.rectangle{
	height: 0;
	transition: all 1s cubic-bezier(.04,.73,.23,1);
	opacity: 0;
}

#contactpage.animateplease .rectangle{
	opacity: 1;
	height: 300px
}

.jdimap{
	transition-delay: .1s;
	opacity: 0;
	transform: translateX(80%);
}

#contactpage.animateplease .jdimap{
	opacity: 1;
	transform: translateX(50%);
}

.message-box{
	transition-delay: .15s;
	opacity: 0;
	transform: translateX(100px);
}

#contactpage.animateplease .message-box{
	opacity: 1;
	transform: translateX(0);
}

.contact{
	h3{
		text-transform: uppercase;
	}
	a{
		border-bottom: 2px solid #fff;
		display: inline-block;
		padding-bottom: 5px;
	}

	@include breakpoint(medium down){
		.column{
			margin: 25px 0;
		}
	}

	@include breakpoint(small down){
		padding-top: 70px;
		height: auto;
	}
}

.fancy_link{
	position: relative;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	&:before{
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		background: #fff;
		top: 100%;
		left: 0;
		right: 0;
		margin: 0 auto;
		opacity: 0;
		visibility: hidden;
		transition: all .2s;
	}
	&:hover:before{
		opacity: 1;
		top: -5px;
		visibility: visible;
	}
}

ul.social{
	text-align: left;
	list-style: none;
	margin: 30px 0 0 0!important;
	position: relative;
	z-index: 2;
	@include breakpoint(500px down){
		padding: 0 10px;
	}
	li{
		display: inline-block;
		padding: 0!important;
		margin: 0 10px 0 0!important;
		&:before, &:after{
			content: none!important;
		}
		a{
			display: inline-block;
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			color: #000;
			background: #fff;
			border-radius: 40px;
			border: none!important;
			transition: all .3s;

			&.instagram:hover{
				background: #4c68d7;
				color: #fff;
			}

			&.linkedin:hover{
				background: #069;
				color: #fff;
			}

			&.facebook:hover{
				background: #3A5998;
				color: #fff;
			}

			&.twitter:hover{
				background: #32ABE2;
				color: #fff;
			}
		}
	}
}