.site-brand{
	max-width: 100%;
	width: 70px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	-webkit-animation: hue-rotation 1s linear 0ms infinite;
	-moz-animation: hue-rotation 1s linear 0ms infinite;
	-ms-animation: hue-rotation 1s linear 0ms infinite;
	-o-animation: hue-rotation 1s linear 0ms infinite;
	animation: hue-rotation 1s linear 0ms infinite;
	& + h1{
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
		margin: 0;
		font-size: 30px;
		-webkit-animation: hue-rotation 1s linear 0ms infinite;
		-moz-animation: hue-rotation 1s linear 0ms infinite;
		-ms-animation: hue-rotation 1s linear 0ms infinite;
		-o-animation: hue-rotation 1s linear 0ms infinite;
		animation: hue-rotation 1s linear 0ms infinite;
	}
    @include breakpoint(small only){
        margin-right: 0;
    }
}

.legal{
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	color: grey;
    @include breakpoint(small only) {
       margin-left: 6px;
    }
}

.small-text-center{
    @include breakpoint(small only) {
       text-align: center;
    }
}

.backtotop{
	color: #696969;
	font-size: 30px;
	font-family: inherit;
    border: 50px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    background: transparent;
    display: inline-block;
    transition: all .2s;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
    cursor: pointer;
    transform: translateY(300px);

    &.appear{
        transform: translateY(0);
    }

    @include breakpoint(small down){
        margin-top: 10px;
    }

    img{
        width: 100%;
    }
}

.relative{
	position: relative;
	height: 100vh;
}

.footer-reveal{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 2;
	-webkit-animation: hue-rotation 1s linear 0ms infinite;
	-moz-animation: hue-rotation 1s linear 0ms infinite;
	-ms-animation: hue-rotation 1s linear 0ms infinite;
	-o-animation: hue-rotation 1s linear 0ms infinite;
	animation: hue-rotation 1s linear 0ms infinite;
	a{
		color: #fff
	}

	.showme h1{
		line-height: 1;
	}
}

.parallax{
	position: relative;

	img{
		position: relative;
	}
}

@-webkit-keyframes hue-rotation {
    0% {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        -o-filter: hue-rotate(0);
        filter: hue-rotate(0)
    }
    100% {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        -o-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg)
    }
}
@-moz-keyframes hue-rotation {
    0% {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        -o-filter: hue-rotate(0);
        filter: hue-rotate(0)
    }
    100% {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        -o-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg)
    }
}
@-ms-keyframes hue-rotation {
    0% {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        -o-filter: hue-rotate(0);
        filter: hue-rotate(0)
    }
    100% {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        -o-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg)
    }
}
@-o-keyframes hue-rotation {
    0% {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        -o-filter: hue-rotate(0);
        filter: hue-rotate(0)
    }
    100% {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        -o-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg)
    }
}
@keyframes hue-rotation {
    0% {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        -o-filter: hue-rotate(0);
        filter: hue-rotate(0)
    }
    100% {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        -o-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg)
    }
}