.pagescroll{
	z-index: 29;
	position: relative;
}

#particles{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: -1;
	opacity: .1
}

body{
	position: relative;
}

.head_branding{
	position: fixed;
	width: 50%;
	text-align: left;
	z-index: 200;
	top: 65px;
	left: 135px;
	z-index: 32;
	transition: all .2s;
	transform: translateX(-100%);
	opacity: 0;

	&.appear{
	    transform: translateX(0);
	    opacity: 1;
	}

	path{
		fill: #fff;
	}
	@include breakpoint(small down){
		left: 135px;
		text-align: right;
		z-index: 32;
		width: auto;
		top: 15px;
	}

	&.glue--pinned{
	   @include breakpoint(500px){
			position: fixed;
			right: 0;
			width: 100%;
	   }
	}

	&.glue--unpinned{
		@include breakpoint(500px){
	   		position: fixed;
		}
	}

	&.glue--pinned.glue--top{
		@include breakpoint(500px){
	   		position: absolute;
	   		width: 200px;
		}
	    
	}
}

body.noscroll{
	.head_branding{
		opacity: 0;
	}
}

body.noscroll{
	.topbardiv{
		display: none;
	}
}

body.noscroll #menu{
	background: transparent!important;
}