/* ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
FIRST SECTION, PARALLAX SLIDESHOW
oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo */

.mainSlideshow{
	position: relative;
	width: 100%;
	height: 100%;

	.flickity-slider {
	  transform: none !important;
	}

	.flickity-viewport{
		height: 100vh;
	}

	.gallery-cell{
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		left: 0 !important;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
		z-index: -1;
		text-align: center;

		&.is-selected {
		  opacity: 1;
		  z-index: 0
		}

		.mirrorwrapper{
			text-align: center;

			.mirrorimage {
				width: 50%;
				height: 100vh;
				overflow: hidden;
				display: inline-block;
				vertical-align: middle;
				position: relative;
				margin: 0 -2px;

				.inner{
					position: absolute;
					top: 50%;
					width: 100%;
					transition: all .8s;

					.inner_2_invert{
						-webkit-transform-origin: 50% 90%;
						 -moz-transform-origin: 50% 90%;
						 transform-origin: 50% 90%;
						 @include breakpoint(1280px){
						 	-webkit-animation: lighthouse 7s 0.3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
						 	-moz-animation: lighthouse 7s 0.3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
						 	animation: lighthouse 7s 0.3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
						 }
					}

					.inner_2{
						-webkit-transform-origin: 50% 90%;
						 -moz-transform-origin: 50% 90%;
						 transform-origin: 50% 90%;
						@include breakpoint(1280px){
							-webkit-animation: lighthousesecond 7s 0.3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
							-moz-animation: lighthousesecond 7s 0.3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
							animation: lighthousesecond 7s 0.3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
						}
					}
				}

				img{
					vertical-align: middle;
					position: relative!important;
				}
			}

			.mirrorimage:nth-child(1){
				text-align: right!important;

				.inner{
					transform: translateX(-200%) translateY(-50%);
				}
				img{
					right: 0!important;
					left: inherit!important;
					display: inline-block!important;
				}
			}

			.mirrorimage:nth-child(2){
				text-align: left;
				.inner {
					transform: translateX(200%) translateY(-50%);
				}
			}
		}

		&.is-selected .mirrorimage:nth-child(1) .inner{
			transform: translateX(50px) translateY(-50%);
		}


		&.is-selected .mirrorimage:nth-child(2) .inner {
			transform: translateX(-50px) translateY(-50%);
		}

		.ms-caption{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			margin: 0 auto;
			z-index: 10;
			display: inline-block;
			overflow: visible;
			width: auto;

			.weare{
				padding: 20px 0 10px;
				text-align: center;
				font-size: 30px;
				color: #000;
				text-transform: lowercase;
				@include breakpoint(500px down){
					font-size: 20px;
				}
			}

			.hello{
				text-transform: uppercase;
				font-style: italic;
				font-family:  $header-font-family;
				font-weight: 900;
				overflow: visible;
				h2{
					color: #e9bb05;
					font-size: 170px;
					text-transform: uppercase;
					font-style: italic;
					text-shadow: -1px -1px 0 #3e2e6a, 1px -1px 0 #3e2e6a, -1px 1px 0 #3e2e6a, 1px 1px 0 #3e2e6a;
					transform: translate(0);
					padding: 0 20px;
					overflow: visible;
					line-height: 1;
					letter-spacing: 10px;
					white-space: nowrap;

					@include breakpoint(1440px down){
						font-size: 100px;
					}

					@include breakpoint(800px down){
						font-size: 70px;
					}

					@include breakpoint(500px down){
						font-size: 60px;
						white-space: normal;
					}

					@include breakpoint(320px down){
						font-size: 40px;
						white-space: normal;
					}

					&:after {
						content: attr(data-heading);
						position: absolute;
						left: 0;
						top: 0;
						z-index: 2;
						overflow: hidden;
						color: red;
						transform: translate(0.4vw, 0.3vh);
						mix-blend-mode: darken;
						text-align: center;
						width: 100%;
						text-shadow: 1px 0px 0px #3e2e6a, 0px 1px 0px #130b52, 2px 1px 0px #3e2e6a, 1px 2px 0px #130b52, 3px 2px 0px #3e2e6a, 2px 3px 0px #130b52, 4px 3px 0px #3e2e6a, 3px 4px 0px #130b52, 5px 4px 0px #3e2e6a, 4px 5px 0px #130b52, 6px 5px 0px #3e2e6a, 5px 6px 0px #130b52, 7px 6px 0px #3e2e6a;
					}
				}
			}
		}
	}
}

@-webkit-keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(10%,0,0) rotateZ(5deg);
    -moz-transform: translate3d(10%,0,0) rotateZ(5deg);
    transform: translate3d(10%,0,0) rotateZ(5deg); }
  100% {
    -webkit-transform: translate3d(-10%,0,0) rotateZ(-5deg);
    -moz-transform: translate3d(-10%,0,0) rotateZ(-5deg);
    transform: translate3d(-10%,0,0) rotateZ(-5deg); } }
@-moz-keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(10%,0,0) rotateZ(5deg);
    -moz-transform: translate3d(10%,0,0) rotateZ(5deg);
    transform: translate3d(10%,0,0) rotateZ(5deg); }
  100% {
    -webkit-transform: translate3d(-10%,0,0) rotateZ(-5deg);
    -moz-transform: translate3d(-10%,0,0) rotateZ(-5deg);
    transform: translate3d(-10%,0,0) rotateZ(-5deg); } }
@-ms-keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(10%,0,0) rotateZ(5deg);
    -moz-transform: translate3d(10%,0,0) rotateZ(5deg);
    transform: translate3d(10%,0,0) rotateZ(5deg); }
  100% {
    -webkit-transform: translate3d(-10%,0,0) rotateZ(-5deg);
    -moz-transform: translate3d(-10%,0,0) rotateZ(-5deg);
    transform: translate3d(-10%,0,0) rotateZ(-5deg); } }
@keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(10%,0,0) rotateZ(5deg);
    -moz-transform: translate3d(10%,0,0) rotateZ(5deg);
    transform: translate3d(10%,0,0) rotateZ(5deg); }
  100% {
    -webkit-transform: translate3d(-10%,0,0) rotateZ(-5deg);
    -moz-transform: translate3d(-10%,0,0) rotateZ(-5deg);
    transform: translate3d(-10%,0,0) rotateZ(-5deg); } }



@-webkit-keyframes lighthousesecond {
  0% {
    -webkit-transform: translate3d(-10%,0,0) rotateZ(-5deg);
    -moz-transform: translate3d(-10%,0,0) rotateZ(-5deg);
    transform: translate3d(-10%,0,0) rotateZ(-5deg); }
  100% {
    -webkit-transform: translate3d(10%,0,0) rotateZ(5deg);
    -moz-transform: translate3d(10%,0,0) rotateZ(5deg);
    transform: translate3d(10%,0,0) rotateZ(5deg); } }
@-moz-keyframes lighthousesecond {
  0% {
    -webkit-transform: translate3d(-10%,0,0) rotateZ(-5deg);
    -moz-transform: translate3d(-10%,0,0) rotateZ(-5deg);
    transform: translate3d(-10%,0,0) rotateZ(-5deg); }
  100% {
    -webkit-transform: translate3d(10%,0,0) rotateZ(5deg);
    -moz-transform: translate3d(10%,0,0) rotateZ(5deg);
    transform: translate3d(10%,0,0) rotateZ(5deg); } }
@-ms-keyframes lighthousesecond {
  0% {
    -webkit-transform: translate3d(-10%,0,0) rotateZ(-5deg);
    -moz-transform: translate3d(-10%,0,0) rotateZ(-5deg);
    transform: translate3d(-10%,0,0) rotateZ(-5deg); }
  100% {
    -webkit-transform: translate3d(10%,0,0) rotateZ(5deg);
    -moz-transform: translate3d(10%,0,0) rotateZ(5deg);
    transform: translate3d(10%,0,0) rotateZ(5deg); } }
@keyframes lighthousesecond {
  0% {
    -webkit-transform: translate3d(-10%,0,0) rotateZ(-5deg);
    -moz-transform: translate3d(-10%,0,0) rotateZ(-5deg);
    transform: translate3d(-10%,0,0) rotateZ(-5deg); }
  100% {
    -webkit-transform: translate3d(10%,0,0) rotateZ(5deg);
    -moz-transform: translate3d(10%,0,0) rotateZ(5deg);
    transform: translate3d(10%,0,0) rotateZ(5deg); } }

/* end parallax slideshow */

section{
	position: relative;
	padding: 0
}

.service_box{
	margin: 50px 0;
	cursor: pointer;
	transform: translateY(50%);
	opacity: 0;
	visibility: hidden;

	@include breakpoint(1440px down){
		margin: 20px 0;

		@include breakpoint(900px down){
			&.first{
				margin-top: 125px;
			}


			@include breakpoint(500px down){
				visibility: visible;
				opacity: 1;
				transform: translateY(0);
				&.first{
					margin-top: 50px;
				}
			}
		}
	}

	.numeric{
		background: #000;
		color: #fff;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		position: relative;
		z-index: 1;

		&:after{
			content:"."
		}

		&:before{
			content:"";
			width: 0;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			margin: auto 0;
			background: #fff;
			z-index: -1;
			transition: all .2s;
		}
	}

	&.active .numeric{
		color: #000;
	}

	&.active .numeric:before{
		width: 100%;
	}

	h3{
		font-size: 50px;
		text-transform: uppercase;
		letter-spacing: 1px;
		position: relative;
		display: inline-block;

		@include breakpoint(1440px down){
			font-size: 40px;
		}

		@include breakpoint(1280px down){
			font-size: 30px;
		}

		&:after{
			content:"";
			width: 0;
			height: 2px;
			background: #fff;
			transition: all .2s;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	p{
		width: 80%;

		@include breakpoint(1440px down){
			font-size: 16px;

			@include breakpoint(500px down){
				font-size: 13px;
			}
		}
	}

	&.active h3:after{
		width: 100%;
	}
}

.service_box[data-overlay="1"]{
	transition-delay: .1s!important;
}

.service_box[data-overlay="2"]{
	transition-delay: .15s!important;
}

.service_box[data-overlay="3"]{
	transition-delay: .2s!important;
}

.service_box[data-overlay="4"]{
	transition-delay: .25s!important;
}

#jdiservices{
	background-size: cover!important;
	background-color: #000;
	z-index: 10;

	&.appear .service_box{
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
		transition: all 1s cubic-bezier(0.075, 0.820, 0.165, 1.000);
	}

	.v-align{
		z-index: 10;
		text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	}
}

.bigbg{
	position: absolute;
	z-index: 1;
	width: auto;
	height: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover!important;
	background-color: #000;
	background-repeat: no-repeat;
}

.dottedpattern{
	position: absolute;
	z-index: 4;
	width: auto;
	height: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-image: url(../img/dottedpattern.png);
	background-repeat: repeat;
	background-color: rgba(0,0,0,.3);
	opacity:.6;
}

.overlay-1{
	background-image: url(../img/consultant.jpg);
	z-index: 2;
}

.overlay-2{
	background-image: url(../img/designer-workplace-working-on-website-layout-picjumbo-com.jpg);
}

.overlay-3{
	background-image: url(../img/website.jpg);
}

.overlay-4{
	background-image: url(../img/sms.jpg);
}

.startuplogo{
	position: absolute;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	top: 30px;
	left: 0;
	right: 0;
	z-index: 10;
	color: #fff;
	transition: all .2s;
	opacity: 0;

	img{
		max-height: 50px;
	}
}

#startup.appear .startuplogo{
	opacity: 1;
	visibility: visible;
}

#startup{
	background: #95d4ba;
}

.startupcolumn{
	overflow: hidden;
}

.su_item{
	height: 100vh;
	width: 33.33333%;
	float: left;
	transition: all 1s cubic-bezier(0.075, 0.820, 0.165, 1.000);
	transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
	overflow: hidden;
	position: absolute;
	transform: translateX(0);
	left: 0;

	@include breakpoint(500px down){
		width: 100%;
		height: 90vh;
		left: 0;
		position: relative;
		transform: translateX(0);
		@include breakpoint(320px down){
			height: 100vh;
		}
	}

	&:nth-child(2){
		@include breakpoint(1280px){
			left: 33.33333%;
		}
	}

	&:nth-child(3){
		@include breakpoint(1280px){
			left: calc(2 * 33.33333%);
		}
	}

	.superbutton{
		font-size: 14px;
	}

	.su_text{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		padding: 30px 30px 50px;
		color: #fff;
		width: 500px;
		text-align: center;
		transition: all 1s cubic-bezier(0.075, 0.820, 0.165, 1.000);
		z-index: 1;


		@include breakpoint(1440px down){
			width: 400px;
			padding-bottom: 30px;
			padding-top: 10px;
			bottom: -40px;

			@include breakpoint(1366px down){
				width: 400px;
				padding-bottom: 10px;

				@include breakpoint(800px down){
					bottom: 50px;

					@include breakpoint(500px down){
						bottom: -10px;

						@include breakpoint(320px down){
							width: 280px;
							padding: 0;
							bottom: 0;
						}
					}
				}
			}
		}

		h3{
			font-size: 40px;
			font-weight: 700;
			text-transform: uppercase;
			line-height: 1;
			margin-bottom: 10px;
			@include breakpoint(1440px down){
				font-size: 30px;
				@include breakpoint(320px down){
					font-size: 25px;
				}
			}
		}

		p{
			font-size: 18px;
			transition: all 1s cubic-bezier(0.075, 0.820, 0.165, 1.000);
			transform: translateY(100%);
			opacity: 0;
			visibility: hidden;
			@include breakpoint(1440px down){
				font-size: 14px;
				margin-bottom: 10px;
			}
		}

		.btn-4{
			transform: translateY(-120%);
			font-size: 13px;
			min-width: 300px;

			@include breakpoint(1440px down){
				font-size: 13px;
				padding: 10px 20px;
				@include breakpoint(320px down){
					width: auto;
					min-width: inherit;
					max-width: 100%;
					display: block;
					font-size: 13px;
					padding: 7px 15px;
				}
			}
		}
	}

	&:hover {
		p{
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
		.btn-4{
			transform: translateY(0);
		}
	} 

	.mockup{
		position: absolute;
		top: 10%;
		width: 100%;
		z-index: 0;

		@include breakpoint(1440px down){
			top: 7%!important;
		}

		img{
			width: 100%;
			height: auto;
		}
	}

	/* ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
	iMAC
	oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo */
	
	.mockup{
		width: 450px;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 20%;
		@include breakpoint(1440px down){
			left: 15px;
			top: 15%!important;

			@include breakpoint(1366px down){
				left: -10px;
				top: 15%!important;
				@include breakpoint(500px down){
					left: -10px;
					top: 5%!important;
					@include breakpoint(320px down){
						transform: scale(0.7);
						left: -65px;
						top: -100px!important;
					}
				}
			}
		}
	}
	

	.imac{
		height: 700px;
		background: url(../img/iMac.png) no-repeat;
		background-size: 100% auto;
		transition: all 1s cubic-bezier(0.075, 0.820, 0.165, 1.000);
		position: relative;
		transform: scale(.8) translate3D(0,0,0);
		@include breakpoint(1440px down){
			transform: scale(.8) translate3D(0,0,0);
		}

		.inner-imac{
			position: relative;
			width: 416px;
			height: 235px;
			overflow: hidden;
			margin: 0 auto 0;
			top: 15px;
			cursor: pointer;

			img{
				position: relative;
				display: block;
				transform: translateY(0);
				transition: all 15s;
				-webkit-backface-visibility: hidden;
			}

			&:before{
				content:"";
				width: 80px;
				height: 80px;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				display: block;
				background: #000 url(../img/loop.png) no-repeat center center;
				background-size: 80% 80%;
				z-index: 1;
				opacity: 0;
				transition: all .2s;
				border-radius: 10px;
				//box-shadow: 0 10px 40px rgba(0,0,0,.4);
			}
		}
	}

	.imac:hover .inner-imac:before{
		opacity: 1;
	}

	&.opened {
		width: 50%;
		.imac{
			transform: scale(1.15) translate3D(0,-20px,0);
			@include breakpoint(1440px down){
				transform: scale(1.15) translate3D(0,10px,0);
			}

			@include breakpoint(1280px down){
				transform: scale(1.1) translate3D(0,10px,0);
			}
		}

		.imac .inner-imac img{
			transform: translateY(-77%);
		}
	}
	
	&:nth-child(2).opened .imac .inner-imac img{
		transform: translateY(-40%);
		transition: all 5s;
	}

	&:nth-child(3).opened .imac .inner-imac img{
		transform: translateY(-60%);
		transition: all 5s;
	}

}

.su_item:nth-child(1){
	background: #069;
	left: 100%;
	z-index: 1;
	.su_text{
		color: #fff;
	}
	@include breakpoint(500px down){
		left: 0;
	}
}

.su_item:nth-child(2){
	background: #661d26;
	left: 100%;
	z-index: 2;
	@include breakpoint(500px down){
		left: 0;
	}
}

.su_item:nth-child(3){
	background: #843e00;
	left: 100%;
	z-index: 3;
	@include breakpoint(500px down){
		left: 0;
	}
}

#startup .su_item:nth-child(1).appear{
	left: 0;
	@include breakpoint(500px down){
		left: 0;
		width: 100%!important;
	}
}
#startup .su_item:nth-child(2).appear{
	left: 33.33333%;
	@include breakpoint(500px down){
		left: 0;
		width: 100%!important;
	}
}
#startup .su_item:nth-child(3).appear{
	left: calc(2 * 33.33333%);
	@include breakpoint(500px down){
		left: 0;
		width: 100%!important;
	}
}

.startupcolumn .su_item.opened + .su_item:nth-child(2){
	left: 50%!important;
	@include breakpoint(500px down){
		left: 0!important;
		width: 100%!important;
	}
}

.startupcolumn .su_item.opened + .su_item:nth-child(2) + .su_item:nth-child(3){
	left: 80%!important;
	@include breakpoint(500px down){
		left: 0!important;
		width: 100%!important;
	}
}

.startupcolumn .su_item:nth-child(2).opened + .su_item{
	left: 75%!important;
	@include breakpoint(500px down){
		left: 0!important;
		width: 100%!important;
	}
}

.startupcolumn .su_item:nth-child(2).opened{
	left: 25%!important;
	@include breakpoint(500px down){
		left: 0!important;
		width: 100%!important;
	}
}

.startupcolumn .su_item:nth-child(3).opened{
	left: 50%!important;
	@include breakpoint(500px down){
		left: 0!important;
		width: 100%!important;
	}
}

.whatwedotitle{
	position: absolute;
	top: 25px;
	z-index: 10;
	color: #fff;
}

.dottedpattern + .row{
	position: relative;
}

body.is_scrolling{
	.topbarheadline, .topbardiv{
		display: none!important;
	}
}

/* ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
sms_slideshow
oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo */
.sms_slideshow{
	height: 100vh;

	.carousel-cell{
		height: 100vh;
		width: 100%;

		&.is-selected{
			.iconic-wrapper {
				transform: scale(1);
			}
		}
	}

	.v-align{
		@include breakpoint(500px down){
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.flickity-page-dots{
		bottom: 25px;
	}

	.iconic-wrapper{
		max-width: 400px;
		max-height: 400px;
		position: relative;
		display: inline-block;
		transition: all .5s;
		transition-timing-function: cubic-bezier(0.720, 1.650, 0.100, 1.090);
		transform: scale(0);
		transition-delay: .5s;

		@include breakpoint(500px down){
			max-width: 100%;
			max-height: inherit;
			transform: scale(1);
			transition-delay: 0;
			transition: none;
			opacity: 1;
		}

		img {
			width: auto!important;
			max-height: 400px;
			@include breakpoint(500px down){
				width: auto!important;
				height: 200px!important;
			}
			@include breakpoint(320px down){
				width: auto!important;
				height: 150px!important;
			}
		}
	}

	.flickity-prev-next-button.previous{
		left: 30px;
	}

	.flickity-prev-next-button.next{
		right: 30px;
	}

	p{
		font-size: 26px;
		font-weight: 100;

		@include breakpoint(500px down){
			font-size: 18px!important;
			@include breakpoint(320px down){
				font-size: 13px!important;
			}
		}
	}

	.btn{
		@include breakpoint(500px down){
			font-size: 16px!important;
			padding: 10px 20px;
			@include breakpoint(320px down){
				font-size: 13px!important;
				padding: 7px 15px;
				margin: 5px 0;
			}
		}
	}
}

.svg{
	position: absolute;
	top: 0;
	left: -10px;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: -1;
	overflow: visible;
	mix-blend-mode:overlay;

	svg{
		overflow: visible!important;
		path{
			fill: none;
			stroke: #fff;
			stroke-width: 50px;
			stroke-miterlimit: 10;
			opacity:.2;
		}
	}
}

.sms_slideshow_button{
	display: block;
	width: 100%;
	position: absolute;
	z-index: 2;
	text-align: center;
	bottom: 65px;
	left: 0;
	right: 0;
	margin-bottom: 30px;

	@include breakpoint(500px down){
		margin-bottom: 0;
		bottom: 20px;
	}

	.button--previous, .button--next{
		width: 40px;
		height: 40px;
		border-radius: 40px;
		color: #000;
		background: #fff;
		opacity: 1;
		margin: 0;
	}

	.button:not(.button--previous, .button--next){
		margin: 0 10px;
		width: 20px;
		height: 20px;
		background: rgba(0,0,0,.5);
		display: inline-block;
		border-radius: 20px;
		padding: 0;
		line-height: 20px;
		vertical-align: middle;
		position: relative;

		&:hover{
			background: #fff;
		}

		&.is-selected{
			background: #fff;
		}

		.tipr_container_above{
			box-shadow: 0 5px 10px rgba(0,0,0,.1);
			border-radius: 3px;
			min-width: 100px;
		}

		.tipr_point_above{
			border-radius: 5px;
		}

		.circle{
			position: absolute;
			top: -9px;
			left: -9px;
			transition: all .2s;
			opacity:1;
			visibility: hidden;
			transform: scale(0);
		}

		&.is-selected .circle{
			opacity: 1;
			visibility: visible;
			transform: scale(1);
		}
	}

	.button-group.button-group--cells{
		display: inline-block;
		vertical-align: middle;
		margin: 0 20px;
	}
}

.fancytext{
	position: relative;
	top: -70px;

	& > div:nth-child(2), & > div:nth-child(3){
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin: auto;

		&:nth-child(1){
			z-index: 0;
		}

		&:nth-child(2){
			z-index: 1;
		}

		&:nth-child(3){
			z-index: 2;
		}
	}

	& div > span{
		display: none;
		color: #e9bb05
	}
}

/* Effect 2: 3D rolling links, idea from http://hakim.se/thoughts/rolling-links */
.small-text{
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 1170px;
	position: relative;
	z-index: 10;
	margin-top: 50px;
}
.cl-effect-2 a {
	line-height: 50px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	transition: all .5s;
	opacity: 0;
	transform: translateY(100%);
	display: inline-block;
	margin: 0 10px;
	border-radius: 5px;
	font-size: 30px;
}

.cl-effect-2 a.appear{
	opacity: 1;
	transform: translateY(0);
}

.cl-effect-2 a span {
	position: relative;
	display: inline-block;
	padding: 0 20px;
	background: #e9bb05;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	border-radius: 5px;
	color: #000;
	font-weight: 700;
	border: 3px solid #000;
}

.cl-effect-2 a span:before {
	content: attr(data-hover);
	position: absolute;
	top: 100%;
	left: -6px;
	right: -6px;
	margin: 0 auto;
	width: auto;
	height: 111%;
	background: #efe200;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	border-radius: 5px;
	color: #000;
	font-weight: normal;
	border: 3px solid #000;
	opacity: 0;
	font-size: 20px;
}

.cl-effect-2 a:hover span,
.cl-effect-2 a:focus span {
	-webkit-transform: rotateX(90deg) translateY(-31px);
	-moz-transform: rotateX(90deg) translateY(-31px);
	transform: rotateX(90deg) translateY(-31px);
}

.cl-effect-2 a:hover span:before,
.cl-effect-2 a:focus span:before {
	background: #e9bb05;
	opacity: 1;
}

.hiring{
	@include breakpoint(1440px down){
		padding-top: 100px;
		@include breakpoint(900px down){
			padding-left: 0;
			padding-top: 0;
			@include breakpoint(500px down){
				padding-left: 0;
				padding-top: 10px;
			}
		}
	}
	h2{
		font-size: 60px;
		margin-bottom: 20px;
		line-height: 1;
		display: inline-block;

		@include breakpoint(1440px down){
			margin-bottom: 20px;
			@include breakpoint(500px down){
				font-size: 30px;
			}
		}
	}

	p{
		font-size: 22px;
		margin-bottom: 35px;

		@include breakpoint(1440px down){
			font-size: 18px;
			@include breakpoint(500px down){
				font-size: 16px;
				margin-bottom: 5px;
			}
		}
	}

	.btn{
		margin: 3px 0;
		font-size: 16px;
		@include breakpoint(500px down){
			font-size: 12px;
			padding: 10px 20px;
		}
	}
}

#career{
	background: #fff url(../img/jdi-hiring.jpg) no-repeat center left;
	background-size: cover!important;
	padding: 20vh 0;

	@include breakpoint(900px down){
		background: #fff url(../img/jdi-hiring.jpg) no-repeat center center;

		@include breakpoint(500px down){
			padding-top: 20px;
			background: #d1d1d1;
			.v-align{
				position: absolute!important;
				top: 50%;
				transform: translateY(-50%);
			}
			@include breakpoint(320px down){
				background: #d1d1d1;
			}
		}
	}
}

.career-box{
	padding: 15px 30px;
	line-height: 1;
	background: #fff;
	box-shadow: 1px 1px 3px rgba(0,0,0,.2);
	border-radius: 2px;
	display: inline-block;
	width: auto;
	font-weight: 900;
	font-size: 20px;
	margin-bottom: 10px;
	position: relative;
	transition: all .2s;
	will-change: transform;

	@include breakpoint(1440px down){
		margin-bottom: 10px;
	}

	&:hover{
		transform: translateY(-10px);
		box-shadow: 1px 10px 5px rgba(0,0,0,.1);
	}

	& > a{
		display: block;
		color: #000;

		&:before{
			content:"";
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			margin: auto;
		}
	}
}

#aboutjdi{
	background: #80c9ff;
	position: relative;
	z-index: 1;

	@include breakpoint(500px down){
		padding-top: 70px;
		@include breakpoint(320px down){
			padding-top: 35px;
		}
	}

	.contact-container{
		margin-top: 125px;

		@include breakpoint(1440px down){
			margin-top: 90px;

			@include breakpoint(900px down){
				margin-top: 174px;

				@include breakpoint(500px down){
					margin-top: 50px;
					overflow: hidden;
					@include breakpoint(320px down){
						margin-top: 20px;
						overflow: hidden;
					}
				}
			}
		}

		h2{
			margin-bottom: 30px;
			line-height: .5;
		}

		h3{
			line-height: .7;
			padding-top: 100px;
			@include breakpoint(500px down){
				padding-top: 0!important;
				padding: 0 10px;
				font-size: 30px;
				@include breakpoint(320px down){
					margin-top: 30px;
				}
			}
		}
	}

	.map3d{
		position: absolute;
		right: 0;
		z-index: 1;
		max-width: 800px;
		@include breakpoint(900px down){
			width: 70%;
			@include breakpoint(500px down){
				width: 100%;
				position: relative;
			}
		}
	}

	.social{
		margin-bottom: 30px!important;
	}

	.alamat{
		position: relative;
		z-index: 5;
		text-shadow: 1px 1px 1px rgba(0,0,0,.3);

		@include breakpoint(500px down){
			padding: 0 10px;
		}
	}

	.shortstory{
		padding: 75px 0 0 70px;
		background: #fff;
		height: calc(100vh - 155px);
		position: relative;

		@include breakpoint(900px down){
			margin: 50px -20px 0;
			padding:  0 40px;
			height: auto;
			padding: 73px 0;
			@include breakpoint(500px down){
				height: calc(50vh);
			}
			p{
				margin-bottom: 0;
			}
		}

		.shortstory_inner{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			-webkit-backface-visibility: hidden;
			@include breakpoint(900px down){
				width: auto;
				right: 0;
				left: 0;
				margin: 0 auto;
				padding: 0 30px;
				position: relative;
				top: inherit;
				transform: translateY(0);

				@include breakpoint(500px down){
					width: auto;
					right: 0;
					left: 0;
					margin: 0 auto!important;
					padding: 30px 30px;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					@include breakpoint(320px down){
						padding: 40px 30px;
					}
				}
			}

			p{
				margin-bottom: 0;
			}
		}

		&:before{
			content:"";
			position: absolute;
			width: 3000px;
			overflow: hidden;
			top: 0;
			bottom: 0;
			margin: auto 0;
			left: 100%;
			background: #fff;
		}

		h2{
			margin-top: 0!important;
			text-transform: uppercase;
			font-size: 40px;
			line-height: .5;
			margin-bottom: 20px;
			opacity: .7;
			@include breakpoint(500px down){
				font-size: 30px;
				margin-bottom: 5px;
				@include breakpoint(320px down){
					margin-top: 20px!important;
				}
			}
		}

		p{
			margin: 40px 0;
			@include breakpoint(500px down){
				font-size: 16px;
				margin: 15px 0;
				@include breakpoint(320px down){
					font-size: 14px;
				}
			}
		}

		.btn{
			font-size: 14px;
			padding: 7px 15px;
		}
	}

	footer{
		@include breakpoint(900px down){
			z-index: 1;
			display: block;
			opacity: 1;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			padding: 0;
			height: 100px;
			line-height: 100px!important;
			@include breakpoint(500px down){
				position: relative;
			}
		}
	}
}