#menu{
    position: fixed;
    right: 0;
    left: 0;
    top: 50px;
    z-index: 31;
    width: 225px;
    transition: all .2s;
    background: #fff;
    transition: all .2s;
    transform: translateX(-100%);

    &.appear{
        transform: translateX(0);
    }

    &:before{
        content:"";
        width: 50%;
        position: absolute;
        background: #000;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }
    @include breakpoint(small down){
        width: 100px;
        padding-left: 20px;
        top: 0;
    }

    @include breakpoint(small down){
        width: 100px;
        padding-left: 20px;
    }

    &.glue--pinned{
        position: fixed;
        right: 0;
        left: 0;
        background: #000;
        background: rgba(0,0,0,.2);
        width: 225px;
    }

    &.headroom--not-top.headroom--not-bottom{
        background: #fff;
        width: 225px;
    }

    &.glue--unpinned{
        position: fixed;
        background: #fff;
        //width: 100%;
    }

    &.glue--pinned.glue--top{
        position: absolute;
        width: 225px;
        background: #fff;
    }

    svg {
       width: 200px;
       height: 70px;
       cursor: pointer;
       stroke: #000;
       transform: translate3d(0, 0, 0);
       position: relative;
       left: -9px;
       @include breakpoint(small down){
           transform: scale(1.5);
       }

        path {
           fill: none;
           -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.3s cubic-bezier(0.25, -0.25, 0.75, 1.25);
           -moz-transition: stroke-dashoffset 0.3s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.3s cubic-bezier(0.25, -0.25, 0.75, 1.25);
           -o-transition: stroke-dashoffset 0.3s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.3s cubic-bezier(0.25, -0.25, 0.75, 1.25);
           -ms-transition: stroke-dashoffset 0.3s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.3s cubic-bezier(0.25, -0.25, 0.75, 1.25);
           transition: stroke-dashoffset 0.3s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.3s cubic-bezier(0.25, -0.25, 0.75, 1.25);
           stroke-width: 40px;
           stroke-linecap: round;
           stroke: #000;
           stroke-dashoffset: 0px;
       }
    }
}

.topbar{
    @include breakpoint(small down){
        display: none;
    }
}

.topbarheadline{
    position: absolute;
    left: 225px;
    width: 320px;
    color: #fff;
    top: 0;
    opacity: 0;
    transform: translateX(-30%);
    visibility: hidden;
    transition: all 0.1s;
    margin: 0;
    background: #212121;
    padding:  10px 25px;

    @include breakpoint(500px down){
        display: none;
    }

    &.smspayment{
        width: 370px;
    }
}

.topbarheadline.appear{
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
    transition: all .3s;
}

body.noscroll{
    #menu.glue--pinned{
        background: transparent;
    }
    #menu:before{
        display: none;
    }

    #menu path{
        stroke:#fff;
    }

} 

path#top,
path#bottom {
    stroke-dasharray: 240px 950px;
}
path#middle {
    stroke-dasharray: 240px 240px;
}
.cross path#top,
.cross path#bottom {
    stroke-dashoffset: -650px;
    stroke-dashoffset: -650px;
}
.cross path#middle {
    stroke-dashoffset: -115px;
    stroke-dasharray: 1px 220px;
}


.menu-section {
    z-index: 30;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    padding: 70px 70px 0 70px;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    &.open{
        opacity: 1;
        visibility: visible;
    }
    @include breakpoint(small down) {
        padding: 70px 30px 0 30px
    }
    @include breakpoint(1280px) {
        padding: 30px 30px 0 30px
    }


    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        margin: 60px auto!important;
        text-align: center;
        text-transform: uppercase;
        font-size: 27px;
        line-height: 62.90px;
        letter-spacing: 5px;
        font-weight: 200;
        font-family: $heading-font-family;
        @include breakpoint(1024px down){
            margin-top: 0!important;

            @include breakpoint(medium down){
                margin: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
            }
        }
    }

    nav ul a {
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        text-decoration: none;
        color: white;
        line-height: 1.2;
        width: 100%;
        display: block;
        border: 5px solid transparent;
        display: inline-block;
        width: auto;
        padding: 10px 20px;
        font-size: 50px;
        font-weight: 900;
        @include breakpoint(1280px down) {
            font-size: 40px;
        }
        @include breakpoint(small down) {
            font-size: 25px;
        }
        @include breakpoint(320px down) {
            font-size: 18px;
        }
    }

    nav ul a:hover{
        border-color: #fff;
        color: #fff;
        letter-spacing: 3px;
    }

    nav ul a:hover {
    /*  background-color: rgba(0, 0, 0, 0.5);*/
    }
    nav ul li{
        margin: 5px;
        @include breakpoint(small down) {
            margin: 15px;
        }
        @include breakpoint(320px down) {
            margin: 0;
        }
    }

}

/***scroll down*************/
@-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
@-moz-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
.scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 85%;
}
.scroll-btn > * {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    color: #ffffff;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
    color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 32px;
    height: 55px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 23px;
}
.scroll-btn .mouse > * {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: white;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}

/***************/

.scroll-prompt {
    position: absolute;
    bottom: 9%;
    left: 50%;
    z-index: 100;
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
}

.scroll-prompt .scroll-prompt-shape {
    position: relative;
    -moz-animation: slidedown 2.25s infinite;
    -webkit-animation: slidedown 2.25s infinite;
    animation: slidedown 2.25s infinite;
}

.scroll-prompt .scroll-prompt-shape:before,
.scroll-prompt .scroll-prompt-shape:after {
    content: "";
    display: block;
    position: absolute;
    width: 1.5em;
    height: 0.2em;
    top: 0;
    left: 0;
    background: #fff;
    -moz-border-radius: 0 0.25em 0.25em 0;
    -webkit-border-radius: 0;
    border-radius: 0 0.25em 0.25em 0;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

.scroll-prompt .scroll-prompt-shape:before {
    -moz-transform: scaleX(-1) rotate(-45deg);
    -ms-transform: scaleX(-1) rotate(-45deg);
    -webkit-transform: scaleX(-1) rotate(-45deg);
    transform: scaleX(-1) rotate(-45deg);
}

.scroll-prompt .scroll-prompt-shape:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.scroll-prompt2 {
    position: absolute;
    bottom: -4%;
    left: 50%;
    z-index: 100;
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
}

.scroll-prompt2 .scroll-prompt-shape2 {
    position: relative;
    -moz-animation: slidedown 2.25s infinite;
    -webkit-animation: slidedown 2.25s infinite;
    animation: slidedown 2.25s infinite;
}

.scroll-prompt2 .scroll-prompt-shape2:before,
.scroll-prompt2 .scroll-prompt-shape2:after {
    content: "";
    display: block;
    position: absolute;
    width: 1.5em;
    height: 0.2em;
    top: 0;
    left: 0;
    background: #fff;
    -moz-border-radius: 0 0.25em 0.25em 0;
    -webkit-border-radius: 0;
    border-radius: 0 0.25em 0.25em 0;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

.scroll-prompt2 .scroll-prompt-shape2:before {
    -moz-transform: scaleX(-1) rotate(-45deg);
    -ms-transform: scaleX(-1) rotate(-45deg);
    -webkit-transform: scaleX(-1) rotate(-45deg);
    transform: scaleX(-1) rotate(-45deg);
}

.scroll-prompt2 .scroll-prompt-shape2:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.isolate{
    isolation: isolate;
}

.diamond_1, .diamond_2{
    mix-blend-mode: difference;
}

.diamond_1{
    width: 0;
    height: 0;
    border-radius: 70%;
    background: #60b152;
    position: fixed;
    left: -220px;
    top: -220px;
    transition-delay: .3s;
    transition: all .1s; 
    transition: all 1.5s cubic-bezier(0.130, 1.455, 0.000, 1.020); /* custom */
    transition-timing-function: cubic-bezier(0.130, 1.455, 0.000, 1.020); /* custom */
}

.diamond_2{
    width: 0;
    height: 0;
    border-radius: 100%;
    /* background: #004a77; */
    background: #1a8aec;
    position: fixed;
    right: -220px;
    bottom: -220px;
    transition-delay: .3s;
    transition: all .1s;
    transition: all 1.5s cubic-bezier(0.130, 1.455, 0.000, 1.020); /* custom */
    transition-timing-function: cubic-bezier(0.130, 1.455, 0.000, 1.020); /* custom */
}

/* .diamond_3{
    width: 180vh;
    height: 130vh;
    border-radius: 100%;
    background: #000;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: scale(0) rotate(-45deg) translateX(100%);
    transition-delay: .4s;
    transition: all .6s;
    -webkit-transition: all 1.5s cubic-bezier(0.130, 1, 0.000, 1); older webkit
-webkit-transition: all 1.5s cubic-bezier(0.130, 1.455, 0.000, 1.020); 
   -moz-transition: all 1.5s cubic-bezier(0.130, 1.455, 0.000, 1.020); 
     -o-transition: all 1.5s cubic-bezier(0.130, 1.455, 0.000, 1.020); 
        transition: all 1.5s cubic-bezier(0.130, 1.455, 0.000, 1.020); custom

-webkit-transition-timing-function: cubic-bezier(0.130, 1, 0.000, 1); older webkit
-webkit-transition-timing-function: cubic-bezier(0.130, 1.455, 0.000, 1.020); 
   -moz-transition-timing-function: cubic-bezier(0.130, 1.455, 0.000, 1.020); 
     -o-transition-timing-function: cubic-bezier(0.130, 1.455, 0.000, 1.020); 
        transition-timing-function: cubic-bezier(0.130, 1.455, 0.000, 1.020); custom
} */

.menu-section.open .diamond_1,
.menu-section.open .diamond_2
 {
    width: 100%;
    height: 120%;
    @include breakpoint(1024px down){
        width: 120%;
        height: 126%;
    }
    @include breakpoint(small down){
        width: 150%;
        height: 128%;
    }
    @include breakpoint(320px down){
        width: 170%;
        height: 148%;
    }
}

@media screen and (max-height: 750px) and (min-height: 500px) and (orientation:landscape) {
    .menu-section.open .diamond_1,
    .menu-section.open .diamond_2{
        width: 116%;
        height: 132%;
    }

    nav ul{
        margin-top: 20px!important;
        li{
            margin: 0;
        }
    }
    
}

/* ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
MOBILE MENU
oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo */
.m-topbar{
    background: #000;
    color: #fff;
    height: 70px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 32;
    overflow: hidden;
}
.m-menu, .m-logo{
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    font-size: 25px;
    border-right: 1px solid rgba(255,255,255,.2);
    position: relative;

    &.focus, &.active{
        color: #fff;
    }

    img{
        max-height: 25px;
        margin: 0;
    }
}

.section-titler{
    float: right;
    line-height: 70px;
    padding: 0 15px;
    text-align: right;

    span{
        color: #fff;
        display: none;
        text-align: right;
        font-weight: bold;

        @include breakpoint(320px down){
            &.smspayment{
                font-size: 10px;
            }
        }

        &.appear{
            display: block;
        }
    }
}

body.noscroll .m-menu{
    z-index: 10;
    position: relative;
}