section.portfolio_section{
	width: 100%;
	position: relative;

	@include breakpoint(900px down){
		

		@include breakpoint(small down){
			padding-left: 30px!important;
		}
	}
	&:not(.noline):before{
		content: "";
		width: 2px;
		height: auto;
		background: #000;
		position: absolute;
		top: 150px;
		bottom: 150px;
		right: 0;
		left: 0;
		margin: 0 auto;
		z-index: -1;
		@include breakpoint(900px down){
			right: inherit;
			left: 23px;
			top: 62px;
			bottom: 100px;
			@include breakpoint(small down){
				left: 15px;
			}
		}
	}

	&.full_height{
		&:before{
			top: 0;
			bottom: 0;
		}
	}
}

section.full_height.portfolio_section{
	&:before{
		content: none!important;
	}

	@include breakpoint(900px down){
		padding-left: 0!important;
	}


	.portfolio-item:before{
		@include breakpoint(900px down){
			padding-left: 0!important;
			top: 10px;
			bottom: -130px;
		}
	}
}

.portfolio_scroll_inner{
	padding: 150px 0 0;

	@include breakpoint(900px down){
		padding: 30px 0;
	}
}

.footerhack{
	margin-top: 0;
}

.portfolio-item{
	position: relative;
	z-index: 1;
	margin-bottom: 50px;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	opacity: 0;
	visibility: hidden;
	transform: translateY(20px);
	transition-delay: 1s;
	transition: all 1.5s cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
	transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */

	&:before{
		content: "";
		width: 2px;
		background: #000;
		position: absolute;
		top: 0;
		bottom: -100px;
		right: 0;
		left: 0;
		margin: 0 auto;
		z-index: -1;
		@include breakpoint(900px down){
			display: none;
			@include breakpoint(small down){
				right: inherit;
				left: 15px;
				top: 62px;
				bottom: 100px;
				display: block;
			}
		}
	}

	&.visible{
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

	@include breakpoint(900px down){
		margin-bottom: 50px;
		padding-left: 30px;
	}

	&.odd{
		@include breakpoint(900px down){
			transform: translateX(0);
		}

		.project-description{
			text-align: left;
			&:before{
				content:"";
				width: 40px;
				height: 40px;
				background: #000;
				border: 5px solid #000;
				box-shadow: inset 0 0 0 5px #fff;
				border-radius: 40px;
				position: absolute;
				left: -40px;
				top: 0;
				@include breakpoint(large){
					transition: all 1.5s cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
					transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
				}

		        @include breakpoint(900px down){
		        	left: -37px;
		        	top: 8px;
		        	width: 25px;
		        	height: 25px;
		        	box-shadow: inset 0 0 0 5px #fff;
		        	border-width: 3px;
		        }
			}
			.year{
				&:before{
					left: -5px;
					right: inherit;
				}
			}
		}

		.project-thumb {
			text-align: right;
		}
	}

	&.even{
		@include breakpoint(900px down){
			transform: translateX(0);
		}

		.project-description{
			text-align: right;

			@include breakpoint(900px down){
				text-align: left;
			}
			&:before{
				content:"";
				width: 40px;
				height: 40px;
				background: #000;
				border: 5px solid #000;
				box-shadow: inset 0 0 0 5px #fff;
				border-radius: 40px;
				position: absolute;
				right: -40px;
				top: 0;
				@include breakpoint(large){
			        transition: all 1.5s cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
			        transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
		    	}
		        @include breakpoint(900px down){
		        	left: -37px;
		        	top: 8px;
		        	width: 25px;
		        	height: 25px;
		        	box-shadow: inset 0 0 0 5px #fff;
		        	border-width: 3px
		        }
			}
		}

		.project-thumb {
			text-align: left;
		}
	}

	& > a{
		color: #000;
	}

	.project-description{
		transform: translateX(0);
		@include breakpoint(large){
			padding: 0 30px;
			transition: all 1.5s cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
			transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
		}
		.year{
			background: #000;
			border-radius: 3px;
			line-height: 1;
			padding: 10px 20px;
			color: #fff;
			display: inline-block;
			margin-bottom: 20px;
			font-size: 20px;
			position: relative;
			z-index: 0;

			&:before{
				content:"";
				z-index: -1;
				width: 15px;
				height: 15px;
				background: #000;
				position: absolute;
				border-radius: 3px;
				top: 0;
				bottom: 0;
				margin: auto 0;
				transform: rotate(45deg);
				right: -5px;
				@include breakpoint(900px down){
					left: -5px;
					right: inherit;
				}
			}
		}
		h1{
			text-transform: uppercase;
		}
	}

	.project-thumb{
		@include breakpoint(large){
        	transition: all 1.5s cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
        	transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
        }
		@include breakpoint(medium){
			min-height: 250px;
		}
	}

	.project-thumb img{
		height: 100%;
		width: auto!important;
		max-width: none!important;
		filter: grayscale(1);
		transition: all 1s;
		opacity: 0;
		pointer-events: none;
		@include breakpoint(900px down){
			width: 100%!important;
			height: auto!important;
			margin: 20px 0;
			opacity: 1;
			filter: grayscale(0);
		}
	}

	&:hover .project-thumb img{
		-webkit-filter: grayscale(0);
		filter: grayscale(0);
		opacity: 1;
	}

	.project-title,
	.project-subtitle{
		margin: 0;
		line-height: 1.2!important;
		@include breakpoint(900px down){
			line-height: 1.2!important;
		}
	}

	.project-subtitle{
		color: #272727;
	}

	&.odd:hover .project-description {
		@include breakpoint(large){
			transform: translateX(40px);
			&:before{
				transform: translateX(-40px);
			}
		}
	}

	&.odd:hover .project-thumb {
		@include breakpoint(large){
			transform: translateX(-40px);
		}
	}

	&.even:hover .project-description {
		@include breakpoint(large){
			transform: translateX(-40px);
			&:before{
				transform: translateX(40px);
			}
		}
	}

	&.even:hover .project-thumb {
		@include breakpoint(large){
			transform: translateX(40px);
		}
	}
}
.portfolio-canvas{
	background: transparent;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	width: 100%;
	min-height: 100%;
	min-height: 100vh;
	height: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	margin: auto;
	overflow: hidden;
	transition: all .1s;

	.portfolio-inner{
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		display: block;
	}

	.showcase__images{
		margin-top: 50px;

		&.mataharimall,
		&.urbanhero
		{
			background: url(../img/portfolio/mm-bground.png) repeat center center;
			padding: 50px 0;
			img{
				margin: 100px auto;
				max-width: 1251px;
				width: 80%;
				display: block;
				box-shadow: 0 0 50px rgba(0,0,0,.15);
			}
		}
		&.urbanhero{
			background: #4e7127;
			background-image: none;
		}
	}

	&:before,
	&:after{
		content:"";
		width: 50%;
		height: 100%;
		position: absolute;
		z-index: -1;
		background: #fff;
		transition: all .5s cubic-bezier(.04,.73,.23,1);
		top: 0;
		bottom: 0;
		margin: auto 0;
	}

	&:before{
		left: 0;
		transform: translateX(-100%);
	}

	&:after{
		right: 0;
		transform: translateX(100%);
	}

	&.is_appear{
		opacity: 1;
		visibility: visible;
	}

	&.is_appear:before,
	&.is_appear:after{
		transform: translateX(0);
	}

	/* closer */
	.closer{
		width: 40px;
		height: 40px;
		position: fixed;
		z-index: 21;
		top: 20px;
		right: 37px;
		cursor: pointer;
		transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1);
		transition-delay: 0.5s;
		transform: scale(0);

		&:before,
		&:after{
			content:"";
			width: 3px;
			height: 100%;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			background: #000;
			border-radius: 90px;
			overflow: hidden;
		}

		&:before{
			transform: rotate(45deg);
		}

		&:after{
			transform: rotate(-45deg);
		}
	}

	&.is_appear .closer{
		transform: scale(1);
	}

	.main-image{
		position: relative;
		height: 70vh;
		transition-delay: 1s;
		overflow: hidden;
		width: auto;
		background: #000;
		margin: 40px;
		transition: all 500ms cubic-bezier(.04,.73,.23,1);
		transform: translateY(-300px);
		transition-delay: .3s;
		opacity:0;
		visibility: hidden;

		@include breakpoint(900px down){
			margin: 10px;
		}

		img{
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			opacity:.5;
			object-fit: cover;

			@include breakpoint(900px down){
				height: 100%;
				width: 100%!important;
				display: block;
			}
		}

		h1{
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			display: inline-block;
			font-size: 80px;
			padding: 0 30px;
			text-align: center;
			color: #fff;
			transition: transform 500ms cubic-bezier(.04,.73,.23,1);
			transform: translateY(-100%);
			transition-delay: .4s;
			opacity: 0;
			visibility: hidden;

			@include breakpoint(900px down){
				font-size: 30px;
			}

			.portfolio-subheadline{
				font-size: 30px;
				display: block;
				font-family: Lato;
				@include breakpoint(900px down){
					font-size: 18px;
				}
			}
		}
	}

	&.is_appear .main-image,
	&.is_appear .main-image h1  {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
		opacity:1;
		visibility: visible;
	}

	&.is_appear .main-image h1  {
		opacity: 1;
		visibility: visible;
		transform: translateY(-50%);
		opacity:1;
		visibility: visible;
	}

	.portfolio-content{
		padding: 0 50px;
		margin: 100px 0;
		transform: translateY(-100px);
		transition: all .5s;
		transition-delay: .4s;
		opacity: 0;
		visibility: hidden;
		font-size: 20px;
		line-height: 38px;

		@include breakpoint(900px down){
			padding: 0 15px;
		}

		p{
			font-size: 20px;
			line-height: 38px;
		}

		li{
			margin-bottom: 30px;
		}
	}

	&.is_appear .portfolio-content{
		transform: translateY(0);
		opacity:1;
		visibility: visible;
	}

	.portfolio-meta-info{
		list-style: none;

		li{
			margin-bottom: 30px;
			font-size: 16px;

			p{
				font-size: 16px;
				line-height: 28px;
			}

			h4{
				color: #e9bb05;
				font-size: 22px;
				letter-spacing: 2px;
			}
		}
	}
}

.seemorecase{
	width: 150px;
	height: 150px;
	border-radius: 150px;
	background: #696969;
	color: #fff;
	text-align: center;
	line-height: 150px;
	display: block;
	margin: 0 auto;
	z-index: 10;
	position: relative;
	font-weight: 900;
	transition: all .2s;

	&:hover{
		color: #fff; 
		background: #e9bb05;
	}
}

section#works{
	padding: 0 0;
	background: #f5f5f5;

	@include breakpoint(500px down){
		background: #eaeaea;
	}

	& > .v-align > br{
		@include breakpoint(500px down){
			display: none;
		}
	}

	.row{
		h2{
			text-transform: uppercase;
			font-size: 40px;
			line-height: .5;
			margin-bottom: 0;
			opacity: .7;
			color: #000;
		}
		.case-row{
			.column{
				&:nth-child(4),
				&:nth-child(5),
				&:nth-child(6){
					@include breakpoint(large){
						.case-item{
							margin-bottom: 0;
						}
					}
				}
				.case-item{
					position: relative;
					height: 250px;
					overflow: hidden;
					margin: 20px 0;
  					box-shadow: 0 45px 70px rgba(0, 0, 0, 0.2);
  					border-radius: 5px;
  					z-index: 1;
  					text-align: center;

  					@include breakpoint(1440px down){
  						height: 170px;
  					}

  					.js-tilt-glare{
  						transform: scale(1.3);
  					}

  					& > a:before{
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						margin: auto;
						z-index: 2;
  					}

					img{
						height: 100%;
						width: 100%!important;
						display: inline-block;
						object-fit: cover!important;
						margin: 0;
					}
				}
			}
		}
	}
}